# dependencies
node_modules/

# env
.env
.env.local
.env.*.local

# build output
dist/
.next/
out/

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# build info
*.tsbuildinfo
